.hourly-reocrd-table {
    width : 100%;
    margin-top: 13px;
    border-spacing: 0;
}
.hourly-reocrd-table th {
    color: #969696;
    text-align: left;
    font-family: NanumBarunGothic;
    font-size: 14px;
}
.hourly-reocrd-table th,
.hourly-reocrd-table td {
    border-bottom: 1px solid #e7e8e7;
    height: 67px;
}